[SddmGreeterTheme]
Name=Theme
Description=Theme
Author=None
Website=https://github.com/ArikSquad/nixdots
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
ConfigFile=theme.conf
MainScript=Main.qml
Theme-Id=theme
Theme-API=2.0
QtVersion=6
